@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #EFF5F5;
    font-size: 20px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Overlock SC', cursive;
  text-shadow: 4px 4px 5px #05000b;

}
:root{
  --darkgrey: #222831;
  --lightgrey: #393E46;
  /* --yellow: #FBCB0A; */
  --yellow: #15B96A;
  
}

header{
  position: fixed;
}
.container{
    background-color: var(--yellow);
    width: fit-content;
    height: 100vh;
}
.container img{
    width: 55px;
    padding: 7px;
    margin: 7px;
}


.icons {
    position: relative;
  }
  
.icons .texticon {
    visibility: hidden;
    width: 89px;
    top: 45px;
    left: 57px;
    background-color: #D3FADE;
    color: var(--darkgrey);
    border-radius: 5px;
    font-weight: 900;
    text-align: center;
    padding: 2px ;
    text-shadow: none;
    /* Position the icons */
    position: absolute;
    z-index: 1;
}
  
.icons:hover .texticon {
    visibility: visible;
}


  /* Web page */
.webpage{
    margin-left: 69px;
    width: calc(100% - 69px);
}

  /* First page */
/* .pageone{
    background-color: var(--lightgrey);
    height: 75vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
  }
.name{
  padding-left: 90px;
}
  #job{
    font-size: 17px;
    font-weight: 300;
    line-height: 38px;
  }
  #myname{
    font-size: 70px;
    font-weight: 500;
    line-height: 65px;
    width: 33vw;
  }
.shortnote{
  display: flex;
  padding-right: 90px;
}
.divider{
  border-left: 1.5px solid #EFF5F5;
  height: 160px;
}
.notecontainer{
  padding-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.onelinenote{
  font-size: 19px;
  font-weight: 100;
  width: 275px;
}
.links{
  padding: 10px 0;
  font-size: 26px;
}*/ 

.pageone{
  background-color: var(--lightgrey);
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#job{
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  text-shadow: 4px 4px 4px #05000b;
}
#myname{
  font-size: 80px;
  font-weight: 500;
  line-height: 65px;
  color: #15B96A;
  text-shadow: 3px 3px 4px #05000b;
  
}

.divider{
  border-top: 1.5px solid #EFF5F5;
width: 500px;
margin: 25px;
box-shadow: 1px 1px 3px #05000b;

}

.onelinenote{
  font-size: 20px;
  font-weight: 200;
  text-shadow: 2px 2px 6px #05000b;
  margin: 0px 10px;
  /* color: #15B96A; */
}
.links i{
  margin: 20px 10px;
  font-size: 30px;
}

.home-about{
  background-color: var(--darkgrey);
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-1 ,.about-2, .about-3{
  width: 33%;
  text-align: center;
}
.title{
  color: var(--yellow);
}


/* About */

.about{
  background-color: var(--darkgrey);
}


.aboutme{
  font-size: 90px;
  padding-top: 17px;
  padding-left: 200px;
}
.aboutcontainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 37px 200px 37px 200px;
}
.short{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  overflow-x: visible;
  margin-bottom: 30px;
  margin-left: 25px;
}
.short i{
  font-size: 17px;
  line-height: 15px;
  text-align: end;
}

.detailaboutme{
  border-left: 1.5px solid #EFF5F5;
  width: 650px;
  margin-left: 25px;
  padding: 25px 25px;
}
.detailaboutme button{
  width: 180px;
  height: 40px;
  font-size: 20px;
  color: #EFF5F5;
  background-color: transparent;
  border-radius: 7px;
  border-width: 1.5px;
  border-color: var(--yellow);
}
.detailaboutme button a{
  text-decoration: none;
  padding: 7px 32px  ;
}

/* skills */
.skills{
  background-color: var(--lightgrey);
  padding-bottom: 50px;
}
.skills-head{
  background-color: var(--lightgrey);
  font-size: 90px;
  padding-top: 30px;
  padding-left: 200px;
}
.skillcontainer{
  margin: 50px 110px;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: var(--darkgrey);
}

.flip-card{
  background-color: transparent;
  width: 170px;
  height: 170px;
  perspective: 1000px;
  margin: 45px 25px;
}
.inner-card{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover  .inner-card{
  transform: rotateY(180deg);
}
.front-img , .back-img{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;    
  border-radius: 16px;
}
.front-img{
  background-image: radial-gradient(circle, #222831, #1c2028, #17171f, #100e16, #05000b);
}
.front-img img{
  width: 80%;
  margin-top: 17px;
}
.back-img{
  background-image: radial-gradient(circle, #222831, #1c2028, #17171f, #100e16, #05000b);
  color: #EFF5F5;
  transform: rotateY(180deg);
}
.back-img img{
  width: 65%;
  margin-top: 12px;
}
.back-img h1{
  font-size: 25px;
}

