@media only screen and (max-width: 426px){
    
    header{
        bottom:  0;
        z-index: 5;
        width: 100vw;
    }
    .container{
        width: unset;
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .container img{
        padding: 0;
        margin: 0;
        width: 20px;
    }
    header .container .icons span{
        display: none;
    }
    
    .webpage{
        width: auto;
        margin: 0px;
    }

    /* home page */

    .pageone{
        height: 60vh;
    }
    #job{
        font-size: 14px;
    }
    #myname{
        text-align: center;
        font-size: 34px;
        line-height: 25px;
    }
    .divider{
        width: 200px;
    }
    .onelinenote{
        font-size: 17px;
        text-align: center;
    }
    .links i{
        margin: 10px 5px;
        font-size: 20px;
    }
    .home-about{
        height: 40vh;
        width: 100%;
        flex-wrap: wrap;
    }
    .about-1 ,.about-2 {
        width: 50%;
      }
      .about-3{
        width: 100%;
        margin-bottom: calc(0 + 35px);
      }

    /* about page */

    .aboutme{
        font-size: 45px;
        text-align: center;
        padding-left: 0px;
    }
    .aboutcontainer{
        padding: 27px 0px;
        justify-content: space-around;
        align-items: center;
      }
    .short{
        align-items: center;
    }
      .detailaboutme section{
        font-size: 17px;

      }

      /* skill */

      .skills-head{
        font-size: 45px;
        padding-top: 30px;
        padding-left: 0px;
        text-align: center;
      }

      .skillcontainer{
        margin: 45px 20px;
        border-radius: 16px;
      }
      .flip-card{
        width: 100px;
        height: 100px;
        margin: 35px 15px;
      }
      .front-img img{
        margin-top: 10px;
      }
      .back-img img{
        width: 58%;
        margin-top: 9px;
      }
      .back-img h1{
        font-size: 15px;
      }

    
    
}