@media only screen and (max-width: 520px){
    header{
        /* position: relative; */
        bottom:  auto;
        
    }
    .container{
        width: 100vh;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }
    header{
        bottom: 0;
        z-index: 5;
        position: fixed;
        width: 100vw;

    }
    .webpage{
        width: 100vw;
        margin: 0px;
    }
    
    
}